*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: #fff; */
    /* border: 2px soli; */
}

body{
    background-color: #fff;
    border: 2px solid red;
}

.servicescontact{
    /* background-color: rgb(75, 58, 58); */
    border: 2px solid rgb(203, 247, 9);
    display: flex;
    justify-content:space-around;
    padding: 15px 1px 15px 18px;
    align-items: center;
    height:fit-content;

}
.formdiv{
    background-color: rgb(230, 229, 229);
    width:20rem;
    /* padding: 15px 10px 15px 10px; */
    /* align-items: center; */
    text-align: center;
    height:fit-content;
    border-radius: 20px;
    box-shadow: 5px 5px 30px crimson,-5px -5px 30px rgb(177, 220, 20);
}
.formdiv form{
width: 100rem;
width: fit-content;
/* background-color: rgb(212, 216, 159); */
margin: auto;
height: fit-content;
text-align: center;
padding: 20px 10px 15px 10px;
}

.formdiv form label{
    color: rgb(248, 0, 0);
    font-family: sans-serif;
}

.formdiv form input{
    margin-bottom: 20px;
    background-color: rgb(205, 219, 7);
    border-radius: 5px;
    padding-left: 3px;
/* align-items: center; */
/* width: 20px; */

}

.formdiv form #name{
    margin-left: 40px;
    height: 25px;
    }
.formdiv form #email{
margin-left: 40px;
height: 25px;
}
.formdiv form #address{
    margin-left: 25px;
    height: 25px;
}
.formdiv form #password{
    margin-left: 10px;
    height: 25px;
}
.formdiv form #message{
    margin-left: 45px;
    height: 100px;
    /* padding-top:-70px; */
    }


.formdiv form #submit{
background-color: #ffd4d4;
padding:2px 5px 2px 5px;
transition: 0.4s;
}

.formdiv form #submit:hover{
    background-color: crimson;
    
}

.servicescontact .formimage img{
/* background-color: rgb(190, 27, 27); */
height: 300px;
width: fit-content;
margin-top: 4rem;
}

.servicescontact .contactus{
    background-color: rgb(224, 33, 33);
    display: inline-block;
    margin-top:-18rem;
    margin-right: -36rem;
    font-size: 3rem;
    padding:2px 3px 2px 3px;
    border-radius: 10px;
}

@media screen and ( min-width:501px) and (max-width:768px){
    .servicescontact{
        background-color: rgb(0, 202, 10);
        border: 2px solid rgb(118, 1, 214);
        display: flex;
        width:100%;
        justify-content:space-around;
        padding: 15px 1px 15px 18px;
        align-items: center;
        height:fit-content;
        position: relative;
    /* object-fit:fill; */
    }
    .formdiv{
        background-color: rgb(230, 229, 229);
        width:17em;
        padding: 15px 10px 15px 10px;
        /* align-items: center; */
        text-align: center;
        height:fit-content;
        border-radius: 20px;
        
        margin:7em 0.1em 2em 1em;
        box-shadow: 5px 5px 30px crimson,-5px -5px 30px rgb(177, 220, 20);
    }
    .formdiv form{
        width: 100rem;
        width: fit-content;
        /* background-color: rgb(194, 54, 171); */
        margin: auto;
        height: fit-content;
        text-align: center;
        padding: 20px 10px 15px 10px;
        }

        .servicescontact .formimage img{
            /* background-color: rgb(190, 27, 27); */
            height:15em;
            width:17em;
            margin-top: 3rem;
            margin-right:-0.1em;
            }
            
            .servicescontact .contactus{
                background-color: rgb(224, 33, 33);
                display: inline-block;
                /* margin-top:-13em; */
                /* margin-left: -36rem; */
                font-size: 3rem;
                padding:2px 3px 2px 3px;
                border-radius: 10px;
                position: absolute;
                /* bottom:0px; */
                left:2.8em;
                top:6.66em;
            }
}

@media screen and ( min-width:769px) and (max-width:895px){
    .servicescontact .contactus{
        background-color: rgb(224, 33, 33);
        display: inline-block;
        margin-top:-18rem;
        margin-right: -30rem;
        font-size: 3rem;
        padding:2px 3px 2px 3px;
        border-radius: 10px;
    }
    

}
