*{
    padding: 0px;
    margin: 0px;
box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    /* background-image: url('pic/background/QK_1638676280257.png'); */
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #070505;
    align-items: center;
    /* text-align: center; */
    /* position:fixed; */
    /* top:200px; */
    /* position: fixed; */
   
}

header .logo{
    background-color: rgb(230, 42, 42);
    margin-left: 50px;
    padding: 2px 5px;
    background-image: url("pic/ww.jpg");
    background-size: cover;
    border-radius: 2px 3px 2px 3px;
}
header nav ul{
    /* background-color: rgb(91, 202, 96); */
    display: flex;
    flex-wrap: wrap;
    margin-left:27rem;
    list-style-type: none;
    text-align: center;
    width: fit-content;
}
header nav ul li{
    margin-left: 48px;
    display: inline;
    
}
header nav ul li a{
    text-decoration: none;
    color: rgb(194, 189, 189);
    /* border: 2px solid red; */
}
header nav ul li a:hover{
    color: #fff;
    border-bottom: 2px solid crimson;
    transition: 0.2s;
    border-radius: 2px;
}



footer{
    background-color: rgb(2, 3, 2);
    /* display: flex; */
    /* justify-content: space-around; */
    width: 100%;
    height:fit-content;
    /* align-items: center; */
    margin-top:auto;
font-size:0.9rem;
/* position:fixed; */
}
footer .footer1{
    display: flex;
    background-color: rgba(0, 0, 0, 0.74);
    align-items: center;
    padding: 10px 2px;
}
.footer1 .links{
    /* background-color: rgb(236, 24, 24); */
    margin-left: 40px;
    height: fit-content;
width:16rem;
padding: 2px 6px 3px 6px;
}

.footer1 .links h2{
    color:red;
}
.footer1 .links li{
    margin-top: 5px;
    color: whitesmoke;
    /* list-style-type: none; */
}
.footer1 .links li a{
    text-decoration: none;
   color: whitesmoke;
}
.footer1 .links li a:hover{
    text-decoration: none;
   color: rgb(0, 40, 218);
   transition:0.1s;
}

.footer1 .contact{
    /* background-color: rgb(29, 103, 199); */
    height: fit-content;
    margin-left: 7rem;
    padding: 5px 6px 7px 6px ;
/* width: ; */
    text-align: center;
}
.footer1 .contact h2{
    color: rgb(0, 118, 214);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer1 .contact p{
    margin-top: 8px;
    color: rgb(247, 241, 241);
    margin-bottom: 5px;
}
.footer1 .contact a{
    text-decoration: none;
    background-color: #fff;
    padding: 3px;
    border-radius: 4px;
    margin: 4px;
}
.footer1 .contact a:hover{
    background-color:rgb(231, 13, 13);
    color: whitesmoke;
    transition: 0.1s;
}

.footer1 .social{
    background-color: rgb(7, 2, 48);
    height: fit-content;
    margin-left: 6rem;
    /* display:flex; */
    width:fit-content;
    padding: 7px 3px 5px 4px;
    /* position: relative; */
    /* border: 1px solid black; */
}
.footer1 .social h2{
    background-color: #fff;
    display:block;
    /* width:; */
    text-align: center;
    /* color: whitesmoke; */
}
.footer1 .social #socials{
    display:flex;
    margin-top: 10px;
}
.footer1 .social #socials span{
    margin-left: 10px;
    color: whitesmoke;
    /* background-color: rgb(97, 70, 70); */
    /* border: 1px solid rgb(157, 240, 24); */
    align-items: center;
    text-align: center;
}
.footer1 .social #socials span p{
    display: inline;
    text-align: center;
}
.footer1 .social #socials #twitter{
width:40px;
height: 40px;
border-radius: 13px;

}
.footer1 .social #socials span #insta{
    width:40px;
height: 40px;
border-radius: 6px;
/* border: 2px solid black; */
align-items:center;
}


.footer1 .social #socials #fb{
    width:40px;
height: 40px;
border-radius:30px;
}
.footer1 .social #socials #linkedin{
    width:40px;
height: 40px;
border-radius:40px;
}



footer .copyright{
    /* width: 100px; */
    /* background-color: rgb(231, 20, 214); */
    color: rgb(255, 255, 255);
    display:inline-block;
    margin:0.8rem 25rem;
    padding: 6PX;
    font-size: 1rem;
}

//Added media query 

@media screen and ( min-width:501px) and (max-width:768px){
    
    header nav ul{
        /* background-color: rgb(91, 202, 96); */
        display: flex;
        flex-wrap: wrap;
        margin-left:14em;
        list-style-type: none;
        text-align: center;
        width: fit-content;
        /* font-size: smaller; */
    }
    header nav ul li{
        margin-left:20px;
        display: inline;
        
    }
    .footer1 .links{
        /* background-color: rgb(236, 24, 24); */
        margin-left:1em;
        height: fit-content;
    width:16rem;
    padding: 2px 6px 3px 6px;
    }
    .footer1 .contact{
        /* background-color: rgb(29, 103, 199); */
        height: fit-content;
        margin-left:0.1em;
        padding: 5px 6px 7px 6px ;
    /* width: ; */
        text-align: center;
    }
    .footer1 .social{
        background-color: rgb(7, 2, 48);
        height: fit-content;
        margin-left:1rem;
        /* display:flex; */
        width:fit-content;
        padding: 7px 3px 5px 4px;
        /* position: relative; */
        /* border: 1px solid black; */
    }
    .footer1 .social #socials{
        display:flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    footer .copyright{
        /* width: 100px; */
        /* background-color: rgb(231, 20, 214); */
        color: rgb(255, 255, 255);
        display:inline-block;
        margin:0.9em 10em;
        padding: 6PX;
        font-size: 1rem;
    }
}

@media screen and ( min-width:769px) and (max-width:895px){
    
    header nav ul{
        /* background-color: rgb(91, 202, 96); */
        display: flex;
        flex-wrap: wrap;
        margin-left:14em;
        list-style-type: none;
        text-align: center;
        width: fit-content;
        /* font-size: smaller; */
    }
    header nav ul li{
        margin-left:20px;
        display: inline;
        
    }
    .footer1 .links{
        /* background-color: rgb(236, 24, 24); */
        margin-left:1em;
        height: fit-content;
    width:16rem;
    padding: 2px 6px 3px 6px;
    }
    .footer1 .contact{
        /* background-color: rgb(29, 103, 199); */
        height: fit-content;
        margin-left:0.1em;
        padding: 5px 6px 7px 6px ;
    /* width: ; */
        text-align: center;
    }
    .footer1 .social{
        background-color: rgb(7, 2, 48);
        height: fit-content;
        margin-left:1rem;
        /* display:flex; */
        width:fit-content;
        padding: 7px 3px 5px 4px;
        /* position: relative; */
        /* border: 1px solid black; */
    }
    .footer1 .social #socials{
        display:flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    footer .copyright{
        /* width: 100px; */
        /* background-color: rgb(231, 20, 214); */
        color: rgb(255, 255, 255);
        display:inline-block;
        margin:0.9em 17em;
        padding: 6PX;
        font-size: 1rem;
    }
}



.main{
    /* background-color:rgba(0, 0, 0, 0.842); */
    width: 100%;
    height:fit-content;
    /* border: 3px solid rgb(255, 13, 13); */
}

.main .first{
    /* background-color: rgba(41, 16, 180, 0.358); */
    position: relative;
    /* height:19rem; */
    /* border: 3px solid red; */
    height: fit-content;
    /* background-image: url('pic/background/QK_1638676280257.png'); */
    background-size: cover;
    /* background-blend-mode: lighten; */

}
/* .main .first img{
    width: 100%;
    height: 190px;
    background-position: center;
    background-size: cover;
  ]  */


.main .first h1{
position: absolute;
/* background-color: #fff; */
color: crimson;
top:1em;
left: 7.6em;
text-shadow:1px 2px white;
font-family: cursive;
font-size:2.5rem;
}
.main .first h3{
    position: absolute;
/* background-color: #fff; */
color: rgb(17, 164, 184);
top:2.3em;
left: 5em;
text-shadow:1px 2px rgb(0, 0, 0);
font-family: cursive;
font-size:2.5rem;
}
.main .first button{
    position: absolute;
    color: #fff;
    background-color:crimson;
    top: 13em;
    left:33em;
    padding: 5px 15px;
    font-size:1rem;
    border-radius: 8px;
    border:1px solid crimson;
}

.main .first button:hover{
color:crimson;
background-color: #fff;
}

.main .second{
    background-color:rgba(243, 229, 35, 0.849);
    width: 100%;
    height:fit-content;
    /* margin-top: 10px; */
    /* padding-bottom: 20px; */
    position: relative;
    /* border: 3px solid yellow; */
}

.main .second .third{
    /* background-color: rgba(0, 0, 0, 0.644); */
    height: fit-content;
padding-top: 25px;
display: flex;
/* border: 3px solid rgb(209, 18, 107); */
padding-bottom: 20px;
/* background-color: rgb(243, 212, 212); */
margin-bottom: 20px;
}

.main .second .third .thirdimg img{
    width: 28rem;
    height:18.4rem;
    background-color: rgb(212, 20, 164);
    margin-left:8rem;
    border-radius: 20px;
    /* z-index:1; */
    box-shadow: 5px 5px 20px rgb(63, 32, 45),-3px -3px 26px rgba(7, 0, 6, 0.877);
  
}
/* .main .second .third .thirdimg img:hover{
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(9, 232, 248),-3px -3px 10px rgb(230, 255, 5);
} */


.main .second .third .content{
    width: 24rem;
    height:fit-content;
    /* z-index: 2; */
    background-color: rgb(42, 203, 252);
    margin-left:-5rem;
    text-align: center;
    padding:20px 10px;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 5px 5px 10px rgb(0, 0, 0),-3px -3px 10px rgba(0, 0, 0, 0.911);
}
/* .main .second .third .content:hover{
box-shadow: 5px 5px 10px rgb(193, 214, 5),-3px -3px 10px rgba(204, 1, 1, 0.979);
} */

.main .second .third .content h1{
    /* display: inline-block; */
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 10px;
    /* font-family:sans-serif */
}
.main .second .third .content h3{
    display:inline;
    font-size: 1.7rem;
}

.main .second .middlediv{
    background-color: rgb(185, 52, 52);
    width:fit-content;
    padding:4px 20px;
    font-size:1.6rem;
    margin:10px auto;
    border-radius: 10px;
    color: white;
}
.main .second .fourth{
    background-color: rgba(37, 161, 243, 0.863);
    width:100%;
    /* height:fit-content; */
    display: flex;
    text-align: center;
    align-items: center;
    /* position: absolute; */
    /* top: 690px; */
    margin-top:300px;
    /* border: 3px solid rgb(25, 177, 70); */
    margin-bottom: 20px;
    justify-content:space-around;
    margin: auto;
    padding-bottom: 20px;
}

.main .second .fourth span{
width: 200px;
/* background-color: #fff; */
margin: 3px 50px 3px 50px;
height: fit-content;
display:inline-block;
/* border: 1px solid black; */
/* justify-content: space-between; */
text-align:center;
border-radius: 10px;
z-index:1px;
/* padding-top: 20px; */
/* box-shadow: 5px 5px 10px crimson,-3px -3px 10px rgb(208, 230, 14); */
}

.main .second .fourth span img{
    box-shadow:5px 5px 10px rgb(27, 29, 18),-3px -3px 10px rgb(247, 13, 33);
    /* transition: 0.1s; */
    
}

.main .second .fourth span h3{
    /* display: inline; */
    font-size: 1.6rem;
    color: rgb(184, 255, 19);
    background-color: rgb(221, 45, 133);
    margin-bottom: 5px;
    border-radius:10px;
    /* transform: translateY(40px); */
    /* visibility:hidden; */
}
.main .second .fourth span:hover > h3{
    font-size: 1.6rem;
    transition: 0.6s;   
    transform: translateY(-10px);
    padding: 1px 9px 1px 9px;
    /* visibility:visible; */
}
.main .second .fourth span:hover >img{
    box-shadow:5px 5px 30px rgb(0, 0, 0),-3px -3px 35px rgb(255, 0, 21);
    transform: translateY(-7px);
} 



.main .second .fourth #span1 img{
background-size: cover;
/* background-image: url('pic/services/QK_1638674815598.png'); */
width: 200px;
background-position: center;
/* position:absolute; */
height: 180px;
border: 2px solid rgb(80, 241, 31);
border-radius:10px;
}



.main .second .fourth #span1 h3{
margin-top:10px;
text-transform:capitalize;
}


.main .second .fourth #span2 img{
    background-size: cover;
background-image: url('pic/services/QK_1638674810803.png');
width: 200px;
height: 180px;
background-position: center;
/* position:absolute; */
/* margin-top: 18px; */
border: 2px solid rgb(80, 241, 31);
border-radius:10px;
background-color: #fff;
}

.main .second .fourth #span2 h3{
    margin-top: 10px;
    text-transform:capitalize;
}

.main .second .fourth #span3 img{
    background-size: cover;
background-image: url('pic/QK_1638630594808.png');
height: 180px;
width: 200px;
background-position: center;
border: 2px solid rgb(80, 241, 31);
border-radius:10px;
/* position:absolute; */
}

.main .second .fourth #span3 h3{
    margin-top: 10px;
    text-transform:capitalize;
    }


